body {
   /* background: linear-gradient(to right, #927eed, #f0f0f0);*/
    background-size: cover; /* Para cubrir todo el fondo */
    background-position: center; /* Para centrar el gradiente */
    height: 100vh; /* Para que el gradiente ocupe toda la altura de la ventana */
}

.navbar-custom {
    background: linear-gradient(to right, #c163f0, #6494fd) ;
    font-weight: bold;
   
}
.btn-search{
    border:3px solid #6a00ff ;
    color: #000000;
    background-color: #ffffff;
    
}
.form-control{
    border-radius: 10px;
    border: 1px solid #000;
}
.btn-search:hover{
    background-color: #dca2f9;
    border: 3px solid #6a00ff;
}
.card-body {
    box-shadow: 0 4px 8px rgba(150, 85, 211, 0.5); /* Sombra violeta */
    display: flex;
    width: 120%;
    justify-content: center; /* Centrar horizontalmente */ 
    border:1px solid #000;
    border-radius: 15px;
}
.card{
    border: none;
}







